{% load static %}
<footer>
    <div class="footer_top pad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget">
                        <h6>About Bofman4</h6>
                        <p>𝗕𝗼𝗳𝗺𝗮𝗻𝟰 𝗣𝘁 𝟭𝟰 merupakan acara pensi tahunan MAN 4 Jakarta, yang terdiri atas berbagai rangkaian acara
                        </p>
                        <span><i class="fal fa-map-marker-alt"></i> MAN 4 Jakarta, Jakarta Selatan</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget left">
                        <h6>Useful links</h6>
                        <ul class="footer_menu">
                            <li><a href="#">About Event</a></li>
                            <li><a href="#">Booking Ticket</a></li>
                            <li><a href="#">Event Speakers</a></li>
                            <li><a href="#">Recent Blogs</a></li>
                            <li><a href="#">Upcoming Events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget">
                        <h6>Event Details</h6>
                        <div class="view_map">
                            <strong>28 <br><span>October</span></strong>
                            <a href="#">View Map</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget">
                        <h6>Social Media</h6>
                        </form>
                        <div class="social_icons">
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="copy_txt">
                        <span>&copy; Copyright 2020 All Rights Reserved, Developed by Daffa Syafitra and Yafi aliffudin</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>