{% load static %}
<footer>
    <div class="footer_top pad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget">
                        <h6>About Bofman4</h6>
                        <p> Bofman4 Part 14 merupakan acara pensi tahunan MAN 4 Jakarta yang terdiri atas berbagai rangkaian acara, perlombaan, projek, dan puncaknya pada hari Sabtu, 28 Oktober 2023, yakni Closing Bofman4 dengan mengundang berbagai guest star ternama. 
                        </p>
                        <span><i class="fal fa-map-marker-alt"></i><a href="https://maps.app.goo.gl/B9GwdZFZAYFuJwqy7" style="color: aliceblue;">MAN 4 Jakarta, Jakarta Selatan </a></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget left">
                        <h6>Useful links</h6>
                        <ul class="footer_menu">
                            <li><a href="{% url 'about' %}">About Event</a></li>
                            <li><a href="https://yesplis.com/event/bofman4-part-14">Booking Ticket</a></li>
                            <li><a href="{% url 'merch' %}">Merchandise</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'perform' %}">Guest Star</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget">
                        <h6>Event Details</h6>
                        <div class="view_map">
                            <strong>28 <br><span>October</span></strong>
                            <a href="https://maps.app.goo.gl/B9GwdZFZAYFuJwqy7">View Map</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="top_widget">
                        <h6>Social Media</h6>
                        </form>
                        <div class="social_icons">
                            <ul class="social">
                                <li><a href="https://www.youtube.com/@bofman4part14"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://twitter.com/bofman4jkt"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/bofman4/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="copy_txt">
                        <span>&copy; Copyright 2023 All Rights Reserved, Developed by <a class="my-button" href="https://www.instagram.com/daffasyafitra/" style="color: aliceblue;"> Daffa Syafitra</a> and <a class="my-button" href="https://www.instagram.com/yalfddn_/" style="color: aliceblue;">Yafi Alifuddin</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>